<nav class="navbar fixed-bottom navbar-light bg-light" style="background-color: #a7d9fd;">
    <div class="container-fluid">
      <div class="seat-legends-wrapper">
        <div class="seat-legend-container">
          <div class="seat-legend-box status-2"></div>
          <div class="seat-legend-text">Booked</div>
        </div>
        <div class="seat-legend-container">
          <div class="seat-legend-box status-1"></div>
          <div class="seat-legend-text">Available</div>
        </div>
        <div class="seat-legend-container">
          <div class="seat-legend-box status-88"></div>
          <div class="seat-legend-text">Selected</div>
        </div>
      </div>
    </div>
    </div>
  </nav>