<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <title>About</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">
                <img src="logo.png" alt="" width="30" height="24" class="d-inline-block">
                <h4 class="d-inline-block">ParkMate</h4>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/home">
                            <h4>Home</h4>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">
                            <h4>About</h4>
                        </a>
                    </li>
                    <li class="nav-item float-end">
                        <a class="nav-link " href="/logout">
                            <h4>Logout</h4>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1>About page</h1>
        <p class="fs-2">
            These days finding a free vehicle parking slot has become a mind-numbing process,
            especially for regular commuters, it has become highly challenging to get a parking slot
            for vehicles in the city. Moreover, the parking slots are not user-friendly and provide no
            logical data about the availability of the spot unless the user visits it manually or there is
            high human interference involved in the lot. Drivers have to go back and forth
            desperately looking for parking spaces wasting their valuable time and fuel.
            <br>
            To alleviate the aforementioned problem, we propose a simple, user-friendly web
            application, which the end user can use to find the available parking slots, and the
            website can monitor when the vehicle is entering/leaving and any other useful data to
            keep track of. The users have to sign up on the website with their details.
            On entry the drivers will be shown all the available parking spots. After selecting the slot,
            the server automatically updates the website regarding the spot availability.
            These timestamps can be used to calculate the parking fee, mitigating the use
            of paper/cards and making the process completely touchless.
            This system simplifies the chaotic parking situation in major cities and gives the people a
            more coherent and a clear alternative to the present manual parking system prevalent in
            the country.
        </p>
    </div>
</body>


</html>