@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: black;
  height: 100vh;
  width: auto;
}

#parkmate {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  color: #f8a62a;
  font-size: 124px;
  letter-spacing: 8px;
  cursor: pointer;
}

#parkmate::before {
  content: "PARKMATE";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent 2px,
    rgb(154, 168, 115) 2px,
    rgb(154, 168, 115) 4px
  );

  -webkit-background-clip: text;
  top: 0px;
  left: 0;
  z-index: -1;
  transition: 1s;
}

#parkmate::after {
  content: "PARKMATE";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    135deg,
    transparent 0,
    transparent 2px,
    rgb(154, 168, 115) 2px,
    rgb(154, 168, 115) 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0px;
  transition: 1s;
}

#parkmate:hover:before {
  top: 10px;
  left: 10px;
}

#parkmate:hover:after {
  top: -10px;
  left: -10px;
} 

#vantajs {
    height: 100vh;
    /* width: auto; */
}